{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div class="specific_item">
	<div class="specific_name">
		<h2>{{item.name}}</h2>
	</div>
	<div class="item_description">
		<p>{{item.description}}</p>
	</div>
</div>
<div class="back">
	<a class="back_button" href="{{url_for('categoryItems', category_id = item.category_id)}}"><i class="fas fa-hand-point-left"></i></a>
</div>

<footer>
	<div class="item_footer_category">
		<h3 class="delete_footer_link"><a href="{{url_for('itemDelete', category_id = item.category_id, item_id = item.id)}}">Delete Item</a></h3>
		<h3 class="edit_footer_link"><a href="{{url_for('itemEdit', category_id = item.category_id, item_id = item.id)}}">Edit Item</a></h3>
	</div>
</footer>

{% endblock %}
